*{
    margin: 0;
    padding: 0;
}
.main{
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: white;
    width: 270px;
    box-shadow: 0px 0px 4px 3px #b4afaf;
    margin-top: 10px;
    border-radius: 4px;
}
.main .pin h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    padding-top: 15px;
}
.main .number .log{
    padding-top: 30px;
    padding-bottom: 30px;
}
.main .number .log p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.main .number .log a{
    text-decoration: none;
    font-weight: 600;
}
.main .pin .input input{
border-radius: 50%;
height: 6px;
width: 6px;
color: gray;
cursor: pointer;
}
.main .number .num
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.main .number .num a{
    text-decoration: none;
    color: black;
    font-size: 19px;
 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.main .number .num .div1{
    padding: 10px;
}